{{define "title"}}
{{if .Title}} {{.Title}} {{else}} Smile2u {{end}}
{{end}}
{{define "content"}}
<section id="posts" class="posts-expand">
  {{range $post := .BlogPosts}}
<article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">
<link itemprop="mainEntityOfPage" href="">
<span hidden="" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
<meta itemprop="name" content="code2qing">
<meta itemprop="description" content="">
<meta itemprop="image" content="/static/blog/pic/m3.jpg">
</span>
<span hidden="" itemprop="publisher" itemscope="" itemtype="http://schema.org/Organization">
<meta itemprop="name" content="Smile2u">
</span>
<header class="post-header">
<h1 class="post-title" itemprop="name headline">
<a class="post-title-link" href="/post/{{$post.ID}}" itemprop="url">
          {{$post.Title}}
</a>
</h1>
<div class="post-meta">
  <span class="post-time">
  <span class="post-meta-item-icon">
  <i class="fa fa-calendar-o"></i>
  </span>
  <span class="post-meta-item-text">发表于</span>
  <time title="创建于" itemprop="dateCreated datePublished" datetime="{{$post.CreatedTime}}">
        {{$post.CreatedTime.Format "2006-01-02 15:04:05"}}
  </time>
  </span>
  <span class="post-category">
  <span class="post-meta-divider">|</span>
  <span class="post-meta-item-icon">
  <i class="fa fa-folder-o"></i>
  </span>
  <span class="post-meta-item-text">分类于</span>
  <span itemprop="about" itemscope="" itemtype="http://schema.org/Thing">
  <a href="/category/{{$post.Category.ID}}" itemprop="url" rel="index">
  <span itemprop="name">{{$post.Category.Name}}</span>
  </a>
  </span>
  </span>
<!--  <span class="post-comments-count">-->
<!--  <span class="post-meta-divider">|</span>-->
<!--  <span class="post-meta-item-icon">-->
<!--  <i class="fa fa-comment-o"></i>-->
<!--  </span>-->
<!--  <a href="#comments" itemprop="discussionUrl">-->
<!--  <span class="post-comments-count disqus-comment-count"  itemprop="commentCount">2 Comments</span>-->
<!--  </a>-->
<!--  </span>-->
  <span>
  <span class="post-meta-divider">|</span>
  <span class="post-meta-item-icon">
  <i class="fa fa-eye"> &nbsp;{{ $post.Views }}</i>
  </span>
  <span class="post-meta-item-text"> 阅读</span>
  <span class="leancloud-visitors-count"></span>
  </span>
</div>
</header>
<div class="post-body" itemprop="articleBody">
  <p>{{$post.Excerpt|unescaped}}</p>
  <!--noindex-->
  <div class="post-button text-center">
    <a class="btn" href="/post/{{$post.ID}}" rel="contents">
      阅读全文 »
    </a>
  </div>
  <!--/noindex-->
</div>
<div>
</div>
<div>
</div>
<div>
</div>
<footer class="post-footer">
<div class="post-eof">
</div>
</footer>
</article>
  {{end}}
<article class="post post-type-picture" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">
<span hidden="" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
<meta itemprop="name" content="Code2qing">
<meta itemprop="description" content="">
<meta itemprop="image" content="/static/blog/pic/m3.jpg">
</span>
<span hidden="" itemprop="publisher" itemscope="" itemtype="http://schema.org/Organization">
<meta itemprop="name" content="Smile2u">
</span>
<div class="post-body" itemprop="articleBody">
  <a href="#">
  <div class="group-picture">
    <div class="group-picture-container">
      <div class="group-picture-row">
        <div class="group-picture-column" style="width: 100%;">
          <img src="/static/blog/pic/menu-restaurant-vintage-tab.jpg" alt="">
        </div>
      </div>
      <div class="group-picture-row">
        <div class="group-picture-column" style="width: 33.333333333333336%;">
          <img src="/static/blog/pic/esWWGbF.jpg" alt="">
        </div>
        <div class="group-picture-column" style="width: 33.333333333333336%;">
          <img src="/static/blog/pic/ZCogT10.jpg" alt="">
        </div>
        <div class="group-picture-column" style="width: 33.333333333333336%;">
          <img src="/static/blog/pic/24hrPQn.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  </a>
</div>
<div>
</div>
<div>
</div>
<div>
</div>
<footer class="post-footer">
<div class="post-eof">
</div>
</footer>
</article>
</section>
{{ if .Ispaginated }}
<nav class="pagination">
  {{ if .First }}
  <a href="?page=1" class="page-number">1</a>
  {{ end }}
  {{ if .LeftHasMore }}
  <span class="space">…</span>
  {{ end }}
  {{range $i := .Left}}
  <a class="page-number" href="?page={{$i}}">{{$i}}</a>
  {{ end }}
  <span class="page-number current">{{.PageNum}}</span>
  {{range $i := .Right }}
  <a class="page-number" href="?page={{$i}}">{{$i}}</a>
  {{ end }}
  {{ if .RightHasMore }}
  <span class="space">…</span>
  {{ end }}
  {{ if .Last }}
  <a href="?page={{ .TotalPageNum }}" class="page-number">{{ .TotalPageNum }}</a>
  {{ end }}
</nav>
{{ end }}
{{end}}
